@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model AddArticleFormModel
@{ ViewData["Title"] = "Add Article"; }
@if (SignInManager.IsSignedIn(User))
{
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-12 col-xl-6">
        <h2 class="text-center">Add Article</h2>
        <form method="post">

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="e.g. Why is eSports fun?">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" placeholder="Your URL here..">
                <span asp-validation-for="Image" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var cat in Model.Categories)
                    {
                    <option value="@cat.CategoryId">@cat.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label> (<span id="charcount">0 out of 175 characters</span>)
                <textarea asp-for="Description" class="form-control" rows="5" onkeyup="charcountupdate(this.value)" placeholder="e.g. My article is about..."></textarea>
            </div>
            <span asp-validation-for="Description" class="small text-danger"></span>

            <div class="form-group">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" class="form-control" rows="7" placeholder="e.g. In this article I will tell you why G2 is the best team..." rows="3"></textarea>
                <span asp-validation-for="Text" class="small text-danger"></span>
            </div>

            <script>
                function charcountupdate(str) {
                    var lng = str.length;
                    document.getElementById("charcount").innerHTML = lng + ' out of 175 characters';
                }
            </script>


            <input class="btn btn-primary float-right" type="submit" value="Save" />
        </form>

    </div>
</div>  
}
else
{
    <div class="row align-self-center">
        <h1>You have no access to this page.</h1>
    </div>
}