@using LBL.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IColumnistService Columnists 

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();
        var userIsColumnist = Columnists.IsColumnist(userId);
        var userIsAdmin = User.IsAdmin();

        if (userIsAdmin)
        {
    <li>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administrator
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link text-dark" asp-area="" asp-controller="Regions" asp-action="Add">Add Region</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Add">Add Team</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Players" asp-action="Add">Add Staff Member</a>
            </div>
        </div>
    </li>
        }

        if (userIsColumnist)
        {
    <li>
        <div class="dropdown mr-2">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Columnist
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Add">Add Article</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="MyArticles">My Articles</a>
            </div>
        </div>
    </li>
        }
    <li>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile Settings</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </div>
    </li> 
    }
    else
    {

    <li>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    </li>

    }
</ul>
