@{
    ViewData["Title"] = "Bulgarians in LoL";
}

<h1 class="text-center">Bulgarian players in League of Legends</h1><br />

<div>
    <img class="d-block w-100" src="https://i.imgur.com/H8fGYQA.png"/>

    <p>
        As a Bulgarian organization we are clearly biased towards Bulgarians. This page is entirely dedicated
        towards the either greates players in LoL, or the most underrated. The Bulgarian players in LoL are a very
        small number, thats why we think it is important to show them off as much as possible.
    </p>

    <h4>
        The players that play in either LEC or ERLs this year
    </h4>
    <p>
        From left to right we will walk you trough each and every player that currently plays in either LEC or ERLs<br /><br />

        <b>Vzz</b> is a Bulgarian ADC that currently plays for the Spanish team BCN Squad. In 2021 Spring he was part of the Balkan
        team SAIM SE SuppUp, which made semifinals at EU Masters, this only time for a Balkan team.<br /><br />

        <b>Venzer</b> is a Bulgarian ADC currently playing for Movistar Riders, formerly of Unicorns of Love Sexy Edition.<br /><br />

        <b>Innaxe</b> is an ADC currently on the lineup of Gamers Origin. He was formerly part of Schalke 04 and Schalke 04 Evolution.<br /><br />

        <b>Hylissang</b> is by far the best Bulgarian support to ever play. When he first joined Fnatic back in 2018
        he won EU LCS back to back and went to Worlds Finals. In 2018, 2019, 2020 and 2021 he is a contender for being the best support in LEC
        and one of the best supports at Worlds. Him and Upset are the best botlane in the LEC for Summer 2021.<br /><br />

        <b>Unlimited</b> is a former Bulgarian support player and currently the only Bulgarian coach in LEC.<br /><br />

        <b>Spooky</b> is a Bulgarian jungler currently playing for BCN Squad and was part of the SAIM SE SuppUp, who got to semifinals in EU Masters 2021 Spring. <br /><br />

        <b>twohoyrz</b> is a Bulgarian mid laner, currently playing for SK Gaming Prime, and was also part of the SAIM SE SuppUp team that got to
        semifinals in EU Masters 2021 Spring. He also played a total of 3 games in the LEC when SK Gaming's midlaner Blue fell ill, in which he looked objectively good.<br /><br />

        <b>Four</b> is a jungler that played a lot in Spanish and Russian teams. He is the current jungler for Vodafone Giants.<br /><br />

        <b>LeBron</b> is a Bulgarian jungler and very popular streamer. He is the current jungler for the Spanish team Cream Real Betis,
        that got to EU Masters, successfully winning the EUM Play-in stage.
    </p>
</div>
