@{
    ViewData["Title"] = "Contacts";
}

<div style="text-decoration:none;">
    <p>League of Bulgarian Legends (LBL) is a Bulgarian eSports organization with the sole intent
    of developing young Bulgarian talent. Currently our organization is mainly focusing on our podcast and our informational website.</p>
    <br />
    You can follow us here:
    <p><a href="https://twitter.com/LBL_LoL">Twitter</a></p>
    <p><a href="https://www.youtube.com/channel/UC6Yo-6l-hABBoTeJYNNIjsg">YouTube</a></p>
    <p><a href="https://open.spotify.com/show/6SQX8ycr77olL9LesaOCEn">Spotify</a></p>
    <p><a href="https://www.instagram.com/lbl_lol/">Instagarm</a></p>
</div>