@{
    ViewData["Title"] = "Competitive League of Legends?";
}

<h1 class="text-center">What is competitive League of Legends?</h1><br />

<div>
    <h4>
        Competitive League of Legends?
    </h4>
    <p>
        League of Legends, as per other eSports titles, have a competitive scene. Competitive scene is
        when a team of good LoL players team up together to fight other teams with good players. LoL is region locked,
        which means that there are different continental Leagues spanned all across the world. All the teams in a given
        league fight eachother for a place on the top and to be the representitive to the World Championship, help annualy.
    </p>

    <h4>
        Which regions are the best?
    </h4>
    <p>
        The 5 current major regions are Europe's LEC, North America's LCS, Korea's LCK, China's LPL and Taiwan's PCS.
        Out of the 10 Worlds championships, 5 titles are held by Korea (3 by SKT T1, 1 by Samsung White, 1 by Samsung Galaxy 
        and 1 by DAMWON Gaming), 2 are held by the China (Invictus Gaming and FunPlus Phoenix), 1 by Europe (Fnatic) and 
        1 by Taiwan (Taipei Assasins). North America hasn't even been to the finals of Worlds.
    </p>

    <h4>
        Is the meta different for the Pros?
    </h4>
    <p>
        The majority of the balancing for LoL is focused on the competitive scene, although there always have been 
        champions and strategies that are better for organized play (Competitive) and other that are only for SoloQ (everybody else).

    </p>

    <h4>
        Which tournaments should I pay attention to?
    </h4>
    <p>
        Worlds is the obvious answer, but that event happens only once in the end of every season. 
        There are regular season games happening pretty much all the time. Even if the big leagues aren't playing, you can still
        watch ERLs (European Regional Leagues) or 2nd division leagues (NA Academy, China's LDL or LCK Challengers Korea).
    </p>

    <h4>
        Are there any storylines that might keep me interested?
    </h4>
    <p>
        There is an endless amount of storylines. The LCS and LEC banter, a continious strugle for greatness between two mediocre regions,
        the fight between China and Korea for the title of the World's best region, all the individual player banters and memes.
        You can find all of this AND MORE by watching competitive League of Legends.
    </p>
</div>