@{
    ViewData["Title"] = "What is League of Legends?";
}

<div>
    <h1 class="text-center">League of Legends</h1><br />
    <h4>What is League of Legends?</h4>
    <p>
        League of Legends is one of the most popular games in the world. It is
        developed by Riot Games and it is a team-based competitive game based on
        strategy and outplaying opponents. It features more than 150 champions
        spanning different difficulty levels. They can either be as simple as Annie
        or as hard to understand and master as Aphelios. The main goal in the game is to
        destory the enemy Nexus, located in the heart of their base, before the enemy destroys
        the other Nexus. League of Legends is a complex game which involves both high-level
        strategy and fast-paced gameplay. Skilled players know how to beat the opponent in front of them, 
        while keeping the macro-elements in mind to support their team to victory.
    </p>

    <h4>Phases of the game</h4>
    <p>
        League of Legends is split in 4 different phases: champion select, early game, mid game, late game.
    </p>
    <h5>Champion Select</h5>
    <p>
        Champion select is where the 10 different players all select their champions. Depending 
        on the game mode, you can either ban 1 champ and select yours, or straight up select yours
        and continue into the game. The higher MMR (or rank) you are, the more you will understand why
        champion select is probably the most important part of League. Here you can witness whether this
        will be an easy victory or a giga stomp. 
    </p>
    <h5>Early Game</h5>
    <p>
        This is the first phase of the actual game. Here you start "laning" against the other player/s.
        Laning means farming creeps or jungle camps, getting items and either dominate or be on equal footing to
        your opponent. According to the LoL pundit LS: Llaning is the purest part of League of Legends. Here you can witness
        mistakes that you can otherwise wouldn't be able to."
    </p>
    <h5>
        Mid Game
    </h5>
    <p>
        Mid game is mostly a transition period between laning style of playing, towards more team/group oriented playing,
        known as team fighting. This mostly features skirmishes between the two teams, focusing on objectives (Drakes, Heralds, Towers)
        and yet again, trying to solo bolo your opponent.
    </p>
    <h5>
        Late Game
    </h5>
    <p>
        If you still haven't managed to lose the game by now, the late game is where you fight 90% of the time
        and mostly try to *flip* objectives or fights. Due to League of Legends not being like Football, i.e. there is no draw,
        only one team is the victor. At some point in the Late game, doesn't matter if you play for 20 minutes or 1 hour,
        a team will be victorious.
    </p>
</div>